<!-- results cards loop -->
<div class="row mt-4 mb-5">
  <div class="card" class="col-md-4 mb-3 p-0" *ngFor="let movie of movies">
    <img src="{{ getImageUrlFrom(movie.backdrop_path, '500') }}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <p class="card-text"><small style="line-height:1.0;">{{ movie.overview | slice:0:80 }}</small></p>
      <a [routerLink]="['/movie', movie.id]" class="btn btn-info">
        <i class="fa fa-eye"></i>
        More info...
      </a>
    </div>
  </div>
</div>
<!-- .results cards loop -->
