<div class="container mt-4">
  <div class="col mb-3">
    <input (keyup)="search( term.value )" #term
           type="text" class="form-control"
           placeholder="Write something here...">
  </div>

  <hr>

  <div class="alert alert-{{ alertType }}" *ngIf="!found">
    It seems that we have not found anything related with your search: {{ term.value }}.<br/>
    Please, try it again.
  </div>

  <div class="row" *ngIf="found">
    <app-row-cards [movies]="resultsFound" ></app-row-cards>
  </div>
</div>
